@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.animation-box {
    min-height: 100vh;
    color: #f719ce;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-grad3 {
    background-image: linear-gradient(to right, #16BFFD 0%, #CB3066  51%, #16BFFD  100%);
    margin: 10px;
    padding: 12px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}